<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myself.obernardovieira.spendme">

    <application
        android:name="myself.obernardovieira.spendme.Core.SpendMeApp"
        android:allowBackup="true"
        android:icon="@drawable/dollarsign"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".SpendActivity"></activity>
    </application>

</manifest>